<div class="header">
    <h1><a href="/#!">Fyle.Me</a></h1>
</div>
<h1>{{policy_name}}</h1>
<form class="form" style="width: 100%;">
    <textarea readonly>{{policy_text}}</textarea>
    <div class="navigation">
        <a href ng-click="back()" class="dark">
            Go Back
        </a>
        <a href="#!" class="dark">
            Go To Homepage
        </a>
    </div>
</form>

<div class="footer">
    <a href="#!/legal/terms">Terms And Conditions</a>
    <a href="#!/legal/privacy">Privacy Policy</a>
    <a href="#!/legal/copyright">Copyright Policy</a>        
</div>